@tailwind base;
@tailwind components;
@tailwind utilities;

/* small modern touches */
:root {
    --accent: #06b6d4;
    /* teal-cyan */
}

.dark {
    --bg: #0b1220;
    --card: #0f1724;
}

body {
    background-color: white;
}

.dark body {
    background-color: var(--bg);
}
/* subtle gradient text */
.text-gradient {
    background-image: linear-gradient(90deg, #06b6d4, #7c3aed);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}